* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
section {
  margin: 200px auto;
  width: 500px;
  height: 300px;
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

h2 {
  font-size: 3rem;
}

input[type="number"] {
  width: 200px;
  margin: 0 auto;
  padding: 1rem;
}

p {
  padding: 1rem;
  color: white;
  font-size: 1.25rem;
  font-weight: 500;
  border-radius: 0.25rem;
}

.danger {
  background-color: red;
}
.success {
  background-color: green;
}
